html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  background: #ffffff;
  color: #909497;
}

#root {
  margin: 0 auto;
  padding: 80px 20px;
}

svg {
  text-align: center;
}
  
text {
  font-family: Helvetica;
  font-size: 11px;
  fill: #909497;
}

text.title {
  font-size: 11px;
  fill: #909497;
}

path.line-0 {
  fill: none;
  stroke: #DE6E51;
  stroke-width: 1px;
}
path.line-1 {
  fill: none;
  stroke: #E8A339;
  stroke-width: 1px;
}
path.line-2 {
  fill: none;
  stroke:#68B253;
  stroke-width: 1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

line.x,
line.y,
circle.y {
  stroke: #F1F1F8;
}
